# 3장 파이썬

## 파이썬에 대한 이해
이 책에서는 문제 풀이와 함께 파이썬을 제대로 살펴보게 되는데, 범위는 내장 라이브러리와 자료구조, 알고리즘에 한정

파이썬의 공식 인터프리터인 CPython을 기준으로 함.

파이썬 버전은 3.7을 기준으로 함.

## 파이썬 문법
기본적인 파이썬 문법 및 고급 문법

### 인덴트
파이썬의 대표적인 특징이기도 한 인덴트는 공식 가이드인 PEP 8에 따라 공백 4칸을 원칙으로 함.

첫 번째 줄에 파라미터가 있다면, 파라미터가 시작되는 부분에 보기 좋게 맞춘다.

첫 번째 줄에 파라미터가 없다면, 공백 4칸 인덴트를 한 번 더 추가하여 다른 행과 구분되게 한다.

In [1]:
def long_function_name(var_one, var_two,
                         var_three, var_four):
    print(var_one)

def long_function_name(
        var_one, var_two,
        var_three, var_four):
    print(var_one)

var_one, var_two, var_three, var_four = 1, 2, 3, 4

foo = long_function_name(var_one, var_two,
                         var_three, var_four)

1

## 네이밍 컨벤션
파이썬의 변수명 네이밍 컨벤션은 자바와 달리 각 단어를 밑줄(_)로 구분하여 표기하는 스네이크 케이스를 따른다. 이는 함수명도 마찬가지다.

파이썬은 파이썬다운 방식에 자부심이 있기에, 카멜 케이스(단어별로 대소문자를 구별하여 표기하는 방법)뿐만 아니라 자바 스타일로 코딩하는 것을 지양한다.

따라서 우리도 파이썬으로 코딩 시에는 스네이크 표기법 코딩을 기본으로 하되 혹시 면접관이 관련 질문을 한다면 파이썬의 PEP 8 및 철학에 따라 스네이크 코딩을 지향한다고 얘기할 수 있어야 한다.

## 타입 힌트
파이썬은 대표적인 동적 타이핑 언어임에도, 타입을 지정할 수 있는 $\text{타입 힌트}^{\text{Type Hint}}$가 PEP 484 문서에 추가되었다.

CPython의 typing.py에는 선언할 수 있는 타입이 잘 명시되어 있으며, 다음과 같은 형태로 타입을 선언할 수 있다.

In [2]:
a : str = "1"
b : int = 1

In [3]:
type(a), type(b)

(str, int)

In [4]:
# 기존 방식
def fn(a):
    pass

# 파이썬 방식 : 파리미터 a의 정수형 선언, 리턴 값으로 True 또는 False 리턴
# 이와 같은 명시적 선언은 가독성이 좋아지며 버그 발생 확률 감소시킴
def fn(a: int) -> bool:
    pass

온라인 코딩 테스트 시에는 `mypy`를 사용하면 타입 힌트에 오류가 없는지 자동으로 확인할 수도 있다.

In [5]:
# $ pip install mypy
# $ mypy solution.py

## 리스트 컴프리핸션
파이썬은 `map, filter`와 같은 $\text{함수형}^{\text{Functional}}$기능을 지원하며 다음과 같은 람다 표현식도 지원한다.

In [6]:
list( map(lambda x: x + 10, [1,2,3]) )

[11, 12, 13]

자바는 2014년에 출시된 8 버전에 이르러서야 람다 표현식을 지원하기 시작한 데 반해, 파이썬은 이미 1.0 버전, 즉 1994년부터 람다를 지원했을 만큼 역사가 오래 됐다. 그러나 사실 파이썬의 훨씬 더 유용한 기능은 $\text{리스트 컴프리헨션}^{\text{List Comprehension}}$이다.

리스트 컴프리헨션이란 기존 리스트를 기반으로 새로운 리스트를 만들어내는 구문으로, 파이썬 2.0부터 지원되었으며, $\text{하스켈}^{\text{Haskell}}$같은 함수형 언어에서 기능을 차용해온 파이썬의 대표적 특징이기도 하다.

리스트 컴프리헨션은 다방면에 유용하게 활용되며, 무엇보다 람다 표현식에 `map`이나 `filter`를 섞어서 사용하는 것에 비해 가독성이 훨씬 높다.

다음은 홀수인 경우 2를 곱해 출력하는 리스트 컴프리헨션이다.

In [7]:
[n * 2 for n in range(1, 10 + 1) if n % 2 == 1]

[2, 6, 10, 14, 18]

만약 리스트 컴프리헨션을 사용하지 않는다면 다음과 같이 길게 풀어서 작성해야 한다.

In [8]:
a = []
for n in range(1, 10 + 1):
    if n % 2 == 1:
        a.append(n * 2)
print(a)

[2, 6, 10, 14, 18]

물론 리스트 컴프리헨션이라고 해서 반드시 리스트만 가능한 건 아니고, 버전 2.7 이후에는 리스트 외에도 딕셔너리 등이 가능하게 업데이트 되었다.

In [9]:
original = {"RTX 4060 ti" : "16gb", "RTX 4090" : "24gb", "RTX 4090 ti" : "48gb"}

a = {}
for key, value in original.items():
    a[key] = value

print(a)

{'RTX 4060 ti': '16gb', 'RTX 4090': '24gb', 'RTX 4090 ti': '48gb'}

위와 같은 정의 코드는 다음과 같이 처리할 수 있다.

In [10]:
a = {key : value for key, value in original.items()}

a

{'RTX 4060 ti': '16gb', 'RTX 4090': '24gb', 'RTX 4090 ti': '48gb'}

## 제너레이터
제너레이터는 2001년 파이썬 2.2가 출시될 때 추가된 오래된 기능 중 하나로, 루프의 반복 동작을 제어할 수 있는 루틴 형태를 말한다.

`yield`구문을 사용하면 제너레이터를 리턴할 수 있다.

기존의 함수는 `return`구문을 맞닥뜨리면 값을 리턴하고 모든 함수의 동작을 종료한다. 그러나 `yield`는 제너레이터가 여기까지 실행 중이던 값을 내보낸다는 의미로, 중간값을 리턴한 다음 함수는 종료되지 않고 계속해서 맨 끝에 도달할 때까지 실행된다.

물론 다음의 코드처럼 `while True`구문은 종료 조건이 없으므로 계속해서 값을 내보낼 수 있다.

In [11]:
def get_natural_number():
    n = 0
    while True:
        n += 1
        yield n

In [12]:
get_natural_number()

만약 다음 값을 생성하려면 `next()`로 추출하면 된다. 예를 들어 100개의 값을 생성하고 싶다면 다음과 같이 100번 동안 `next()`를 수행하면 된다.

In [13]:
g = get_natural_number()
for _ in range(0, 100):
    print(next(g))

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

아울러 제너레이터는 다음과 같이 여러 타입의 값을 하나의 함수에서 생성하는 것도 가능하다.

In [14]:
def generator():
    yield 1
    yield 'string'
    yield True

g= generator()
g

In [15]:
next(g)

1

In [16]:
next(g)

'string'

In [17]:
next(g)

True

## range

제너레이터의 방식을 활용하는 대표적인 함수로 `range()`가 있다. 주로 `for`문에서 쓰이는 `range()`함수의 쓰임은 다음과 같다.

In [18]:
list(range(5))

[0, 1, 2, 3, 4]

In [19]:
range(5)

range(0, 5)

In [20]:
type(range(5))

range

In [21]:
for i in range(5):
    print(i, end = ' ')

0 1 2 3 4

만약 생성할 숫자가 100만 개쯤 된다면 메모리에서 적지 않은 공간을 차지할 것 이고, 생성 시간도 오래 걸릴 것이다. 그러나 제너레이터를 리턴하듯 `range`클래스만 리턴하면 그렇지 않다. 생성 조건만 정해두고 나중에 필요할 때 생성해서 꺼내 쓸 수 있다. 다음은 숫자 100만개를 생성하는 2가지 방법이다.

In [22]:
a = [n for n in range(1000000)]
b = range(1000000)

print(len(a))
print(len(b))
print(len(a) == len(b))

1000000
1000000
True

그러나 `a`에는 이미 생성된 값이 담겨 있고, `b`는 생성해야 한다는 조건만 존재한다.

In [23]:
a

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 577,
 578,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 601,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 615,
 616,
 617,
 618,
 619,
 620,
 621,
 622,
 623,
 624,
 625,
 626,
 627,
 628,
 629,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 640,
 641,
 642,
 643,
 644,
 645,
 646,
 647,
 648,
 649,
 650,
 651,
 652,
 653,
 654,
 655,
 656,
 657,
 658,
 659,
 660,
 661,
 662,
 663,
 664,
 665,
 666,
 667,
 668,
 669,
 670,
 671,
 672,
 673,
 674,
 675,
 676,
 677,
 678,
 679,
 680,
 681,
 682,
 683,
 684,
 685,
 686,
 687,
 688,
 689,
 690,
 691,
 692,
 693,
 694,
 695,
 696,
 697,
 698,
 699,
 700,
 701,
 702,
 703,
 704,
 705,
 706,
 707,
 708,
 709,
 710,
 711,
 712,
 713,
 714,
 715,
 716,
 717,
 718,
 719,
 720,
 721,
 722,
 723,
 724,
 725,
 726,
 727,
 728,
 729,
 730,
 731,
 732,
 733,
 734,
 735,
 736,
 737,
 738,
 739,
 740,
 741,
 742,
 743,
 744,
 745,
 746,
 747,
 748,
 749,
 750,
 751,
 752,
 753,
 754,
 755,
 756,
 757,
 758,
 759,
 760,
 761,
 762,
 763,
 764,
 765,
 766,
 767,
 768,
 769,
 770,
 771,
 772,
 773,
 774,
 775,
 776,
 777,
 778,
 779,
 780,
 781,
 782,
 783,
 784,
 785,
 786,
 787,
 788,
 789,
 790,
 791,
 792,
 793,
 794,
 795,
 796,
 797,
 798,
 799,
 800,
 801,
 802,
 803,
 804,
 805,
 806,
 807,
 808,
 809,
 810,
 811,
 812,
 813,
 814,
 815,
 816,
 817,
 818,
 819,
 820,
 821,
 822,
 823,
 824,
 825,
 826,
 827,
 828,
 829,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 839,
 840,
 841,
 842,
 843,
 844,
 845,
 846,
 847,
 848,
 849,
 850,
 851,
 852,
 853,
 854,
 855,
 856,
 857,
 858,
 859,
 860,
 861,
 862,
 863,
 864,
 865,
 866,
 867,
 868,
 869,
 870,
 871,
 872,
 873,
 874,
 875,
 876,
 877,
 878,
 879,
 880,
 881,
 882,
 883,
 884,
 885,
 886,
 887,
 888,
 889,
 890,
 891,
 892,
 893,
 894,
 895,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 903,
 904,
 905,
 906,
 907,
 908,
 909,
 910,
 911,
 912,
 913,
 914,
 915,
 916,
 917,
 918,
 919,
 920,
 921,
 922,
 923,
 924,
 925,
 926,
 927,
 928,
 929,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 940,
 941,
 942,
 943,
 944,
 945,
 946,
 947,
 948,
 949,
 950,
 951,
 952,
 953,
 954,
 955,
 956,
 957,
 958,
 959,
 960,
 961,
 962,
 963,
 964,
 965,
 966,
 967,
 968,
 969,
 970,
 971,
 972,
 973,
 974,
 975,
 976,
 977,
 978,
 979,
 980,
 981,
 982,
 983,
 984,
 985,
 986,
 987,
 988,
 989,
 990,
 991,
 992,
 993,
 994,
 995,
 996,
 997,
 998,
 999,
 ...]

In [24]:
b

range(0, 1000000)

In [25]:
type(a), type(b)

(list, range)

이제 둘 사이의 메모리 점유율을 비교해보면 `range`클래스를 리턴하는 방시그이 장점이 쉽게 와닿을 것이다.

In [26]:
import sys

print(sys.getsizeof(a))
print(sys.getsizeof(b))

8448728
48

In [27]:
b[999]

999

## enumerate
`enumerate()`는 열거하다 는 뜻의 함수로, 여러 가지 자료형(`list, set, tuple`등)을 인덱스를 포함한 `enumerate`객체로 리턴한다.

In [28]:
a = [1,2,3,2,45,2,5]
a

[1, 2, 3, 2, 45, 2, 5]

In [29]:
enumerate(a)

In [30]:
list(enumerate(a))

[(0, 1), (1, 2), (2, 3), (3, 2), (4, 45), (5, 2), (6, 5)]

In [31]:
a = ['a1', 'a2', 'a3']
for i in range(len(a)):
    print(i, a[i])

0 a1
1 a2
2 a3

In [32]:
i = 0
for v in a:
    print(i, v)
    i += 1

0 a1
1 a2
2 a3

In [33]:
for i, v in enumerate(a):
    print(i, v)

0 a1
1 a2
2 a3

## 나눗셈 연산자

In [34]:
5 / 3

1.6666666666666667

In [35]:
type(5 / 3)

float

In [36]:
#몫
5 // 3

1

In [37]:
type(5 // 3)

int

In [38]:
int(5/ 3)

1

In [39]:
type(int(5/3))

int

In [40]:
# 나머지
5 % 3

2

In [41]:
# 몫과 나머지 동시에
divmod(5,3)

(1, 2)

## print

In [42]:
print('A1', 'B2')

A1 B2

In [43]:
print('A1', 'B2', sep = ',')

A1,B2

In [44]:
print('aa', end = ' ')
print('bb')

aa bb

In [45]:
a = ['A', 'B']
print(' '.join(a))

A B

In [47]:
idx = 1
fruit = 'Apple'

print('{0}: {1}'.format(idx+1, fruit))
print('{}: {}'.format(idx+1, fruit))
print(f'{idx+1}: {fruit}')

2: Apple
2: Apple
2: Apple